<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStore"
        tools:targetApi="31">
        <activity
            android:name=".pages.ProductData"
            android:exported="false"
            android:label="@string/ProductData"></activity>

        <activity
            android:name=".auths.AdminHome"
            android:exported="false" />
        <activity
            android:name=".auths.UserHome"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:parentActivityName=".LogIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LogIn" />
        </activity>
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:parentActivityName=".FirstScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVTY"
                android:value=".FirstScreen" />
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:parentActivityName=".FirstScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstScreen" />
        </activity>
        <activity
            android:name=".FirstScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>